/* header.css */
.header {
    display: flex;
    align-items: center;
    padding: 220px;
    overflow: hidden;
    justify-content: center;
}

.header-bg {
    width: 70%;
    max-width: 550px;
    object-fit: cover;
}

.header-content {
    margin-left: 20px;
}

.header h3 {
    font-size: 5em;
    margin: 0 0 10px 0;
    line-height: 110%;
    margin-left: 50px;
    color: #091251;
    font-weight: 700;
    opacity: 0;
    animation: fadeInUp 0.5s ease-in-out forwards;
    animation-delay: 0.2s;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .header-bg {
        width: 100%;
        max-width: 100%;
    }

    .header-content {
        margin-left: 0;
    }

    .header h3 {
        animation: none;
        opacity: 1;
    }
}